
/* =================================
  WEB FONTS & IMPORTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,400,400i,500,500i);
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* =================================
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: auto;
  width: auto;
}

#nav-panel-container {
  display: none;
}

body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;

    letter-spacing: .01rem;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    line-height: 1.58;
    letter-spacing: -.003em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
}



.material-icons {
  margin: .5rem;
}

button {
    border: none;
    background: black;
    color: white;
    padding: 11px;
    font-size: 15px;
    font-weight: inherit;
    margin-top: 25px;
    /* float: right; */
    cursor: pointer;
}

button:hover {
  background: white;
  color: black;
}
/* =================================
    GLOBAL STYLES
==================================== */
/* BACKGROUND and TEXT COLORS */
.background-blue {background: #27326A;}
.background-light-blue {background: #78939F;}
.background-white {background: white;}
.text-white {color: white;}
.text-black {color: black;}
.hover-black:hover {color: black;}
.hover-white:hover {color: white;}
.hover-underline:hover {text-decoration: underline;}
/* DIMENSIONS */
.full-height {height: 100%;}
.full-width {width: 100%;}

/*POSITIONING*/
.top {top: 0;}
.bottom {bottom: 0;}
.left {left: 0;}
.right {right: 0;}
.fixed {position: fixed;}
.absolute {position: absolute;}
.relative {position: relative;}
.hide{display: none;}

/* SCROLL */
.overflow-hidden {overflow: hidden;}
.overflow-scroll {overflow: scroll; -webkit-overflow-scrolling: touch;}
/* TEXT STYLING */

.light-weight{font-weight: 100;}
.regular-weight{font-weight: 200;}

/* FLEX */
.flex {display: flex;}
.flex-column {flex-direction: column;}
.flex-column-reverse {flex-direction: column-reverse;}
.flex-row {flex-direction: row;}
.flex-row-reverse {flex-direction: row-reverse;}
.center {align-items: center;}
.space-between {justify-content: space-between;}
.space-around {justify-content: space-around;}

.header-block {height: 75px;}

/* =================================
    HEADER
==================================== */


div#header {
    height: 75px;
    padding: 0px 20px;
    z-index: 99;
}


.main-nav-li {
    font-size: 1.4rem;
    width: 150px;
    margin: 0;
    height: 100%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 200;
}

.main-nav-li span:before, .dropdown-li span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #F7CA18;
  visibility: hidden;
  -webkit-transform: scaleX(0);
      -moz-tranform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;
       -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
}

.main-nav-li span:hover:before, .active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
      -moz-tranform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
}




div#header-logo {
    height: 100%;
}

.main-nav-logo {
    width: 300px;
    top: 10px;
}

div#dropdown-nav-ul {
    top: 75px;
    height: 50px;
    background: #283341;
    -webkit-box-shadow: 0px 6px 10px -3px #00;
    box-shadow: 0px 4px 6px 0px #00000069;
}
a.dropdown-li {
    color: white;
}

.main-nav-dropdown{
  display: none;
}

.main-nav-dropdown.opened {
  display: flex;
}

div#dropdown-arrow {
    top: 60px;
    right: 230px;
    border-left: 15px solid #fff0;
    border-right: 15px solid #fff0;
    border-bottom: 15px solid #283341;
}

/* MOBILE */
.nav-icon {
    z-index: 999;
    width: 45px;
    height: 25px;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}



.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon.open span:nth-child(1) {
    width: 80%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
    left: 8px;
}

.nav-icon.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon.open span:nth-child(3) {
    width: 80%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
    left: 8px;
}

/* =================================
    PAGES GENERAL
==================================== */

.page {
  width: auto;
  height: auto;
}

.container {
    height: 30%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.inner-container {
    background: rgba(0, 0, 0, 0.68);
    color: white;
    padding: 30px;
    width: 45%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.inner-container h3, section h3{
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;
}


.page-section-1,
.page-section-2 {
  padding: 30px;
}

.page-section-1{
  flex-direction: row-reverse;
  background: #F6F5F3;
}

.page-section-2 {
    flex-direction: row;
    background: #283341;
    color: white;
}

.section-text-box {
    width: 50%;

}

.section-img-box {
    width: 40%;
    height: 500px;
    overflow: hidden;

}

.section-img-box:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    content: "";
    position: absolute;
    background-color: #0000002e;
}

img.section-img {
    width: 700px;
    -o-object-fit: cover;
    object-fit: cover;
}

.page {
  background-image: linear-gradient( #25272757, #25272757 ), url(../img/img-4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px 30px;
}


.page-banner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
}

.page-section-2 .section-img-box {
  margin-right: 50px;
}

.page-section-1 .section-text-box {
  margin-right: 100px;
}

/* =================================
    HOME
==================================== */

.home-banner {
  justify-content: space-between;
}

.home-logo-container {
    width: 55%;
    justify-content: center;
    padding: 40px;
}

.header-logo-mobile {
  display: none;
}

.home-logo{
  width: 65%;
}

.home-banner-block {
  height: 100px;
}



/* =================================
    appraisals
==================================== */

.page-banner{
  background-image: linear-gradient( #545353bd, #545353bd ), url(../img/page-banner.jpg);
  background-size: cover;
}

.appraisal-row {
  width: 50%;
}

.complex-row {
  background:
}



/* =================================
    Reviews
==================================== */

div#review-project-container {
    width: 100%;
    height: 600px;
    text-align: center;
    background: #000000b5;
    color: white;
}

div#review-project-component-list {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-component {
  background: white;
    width: 75%;
    height: 80%;
    color: black;
}

.slick-slide {
  text-align: left;
  padding: 30px;
  box-sizing: border-box;
  height: 100%;
}

.slick-list{
  height: 100%;
}

span.project-text {
    font-weight: bold;
}



/* =================================
    Contact
==================================== */


.contact-info-container {
    width: 48%;
    background: #000000b3;
    color: white;
    margin-right: 25px;
    padding: 40px;
}


section.flex.contact-page {
    height: 600px;
    padding: 30px;
}

span.relative.email {
    top: 60px;
}

.absolute.contact-captions {
    top: 68px;
    left: 101px;
}
span.relative.address1.light-weight {
    top: 100px;
}
span.relative.address2.light-weight {
    top: 105px;
}

iframe{
  width: 48%;
  border: none;
}

footer {

    padding: 25px;
    width: 100%;
    height: 130px;

    justify-content: space-between;
    align-items: center;
    color: white;

}

.footer-block {height: 300px;}

.footer-icon {
    color: white;
    border: 1px solid white;
    position: relative;
    box-sizing: border-box;
    border-radius: 42px;
    height: 60px;
    width: 60px;
    /* padding: 18px; */
    cursor: pointer;
    justify-content: center;
    margin: 20px 10px;
}

.footer-icon:hover {
  color: black;
  background: white;
}


@media only screen and (max-width: 1100px) {


}


@media only screen and (max-width: 800px) {



  .home-logo-container{
      display: none;
  }

  div#header {
      height: 90px;
  }

  .header-block {
    height: 90px;
}

  .header-logo{
    display: none;
  }

  .mobile-nav-logo {
    width: 80px;
    top: 5px;
}

  .header-logo-mobile {
    display: block;
  }


    .inner-container{
      width: 100%;
    }

    .page-section-1,
    .page-section-2{
      flex-direction: column;
    }

    .section-img-box,
    .section-text-box{
      width: 100%;
      margin-bottom: 30px;
    }

    .credit {display: none;}
    footer{justify-content: center;}

}
